
<div class=""> 
<div class="row">
	<div class="col-8">
		<div style="display: flex; align-items: center; flex-direction: column;">
				<h1>Problema do Percurso do Cavalo</h1>
		</div>
		<p-accordion [multiple]="true">
			<p-accordionTab header="Inserção de pontos" [selected]="true">
				<h2 class="rootTag container">Tabuleiro</h2>

				<app-game-board [board]="board"></app-game-board>
					<br><br>
			</p-accordionTab>
			<p-accordionTab header="Curva de desempenho" [selected]="false">
				<h2 class="rootTag container">Curva de desempenho</h2>
				<div class="chartDiv">
					<p-chart [style.display]="'block'" type="line" [data]="performanceData" [responsive]="isGraphResponsive" ></p-chart>
					
				</div>
				<h2 class="rootTag container">Fitness do melhor indivíduo</h2>
				<div class="chartDiv">
					<p-chart [style.display]="'block'" type="line" [data]="bestIndividualData" [responsive]="isGraphResponsive" ></p-chart>
				</div>
			</p-accordionTab>
			<p-accordionTab header="Tabelas">
					<p-table [value]="bestInd" class="table table-dark">
							<ng-template pTemplate="header">
								<tr>
									<!--<th *ngFor="let machine of schedulingConfig.machines">Unidade {{machine.unitID}}</th>-->
									<th>Tour</th>
									<th>Número de movimentos válidos para o cavalo</th>
									<th>fitness</th>
									<th>Generation</th>
								</tr>
							</ng-template>
							<ng-template pTemplate="body" let-indiv>
								<tr>
									<td><span *ngFor="let tile of indiv.chromosome"> {{tile.id}},  </span></td>
									<td>{{indiv.numOfValidKnightMoviments}}</td>
									<td>{{indiv.fitness}}</td>
									<td>{{indiv.generation}}</td>
								</tr>
							</ng-template>
						</p-table>
						<br><br>
						<p-table [value]="generations">
							<ng-template pTemplate="header">
								<tr>
									<th>Generation</th>
									<th>Best</th>
									<th>Average</th>
								</tr>
							</ng-template>
							<ng-template pTemplate="body" let-genArray>
								<tr>
									<td>{{generations.indexOf(genArray)}}</td>
									<td>{{genArray[genArray.length-1].fitness}}</td>
									<td>{{calcFitnessAverage(genArray)}}</td>
								</tr>
							</ng-template>
					</p-table>  
			</p-accordionTab>
		</p-accordion>
	</div>
	<div class	="col-2">
		<p-accordion [multiple]="true">
			<p-accordionTab header="Configuração" [selected]="true"	>
				<div class="slidersContent" >
					<br>
					<button class="btn btn-primary" (click)="optimize()">Encontrar melhor solução</button>
					<br>
					<br>
					<br>
					<h6>Número de linhas: {{numLines}}</h6>
					<p-slider class="slider" [(ngModel)]="numLines" 
					[step]="1" [min]="3" [max]="30" 
					[animate]="true" 
					(onChange)="newBoard($event)"  ></p-slider>
					<br>
					<h6>Número de colunas: {{numColumns}}</h6>
					<p-slider class="slider" [(ngModel)]="numColumns" 
					[step]="1" [min]="3" [max]="30" 
					[animate]="true" 
					(onChange)="newBoard($event)"   ></p-slider>
					<br>
					<h6>Probabilidade de Cruzamento: {{probCruzamento|number:'1.2-5'}}</h6>
					<p-slider class="slider" [(ngModel)]="probCruzamento" 
					[step]="0.01" [min]="0" [max]="1" 
					[animate]="true" ></p-slider>
					<br>
					<h6>Probabilidade de Mutação: {{probMutacao|number:'1.2-5'}}</h6>
					<p-slider class="slider" [(ngModel)]="probMutacao" 
					[step]="0.01" [min]="0" [max]="1"
					[animate]="true" ></p-slider>
					<br>
					<h6>Tamanho da população: {{populationSize}}</h6>
					<p-slider class="slider" [(ngModel)]="populationSize" 
					[step]="2" [min]="2" [max]="100"
					[animate]="true" ></p-slider>
					<br>
					<h6>Número de gerações: {{maxNumOfGenerations}}</h6>
					<p-slider class="slider" [(ngModel)]="maxNumOfGenerations" 
					[step]="1" [min]="0" [max]="200" 
					[animate]="true" ></p-slider>
					<br>
					<h6>Número de indivíduos na lista dos melhores: {{numOfBestToKeep}}</h6>
					<p-slider class="slider" [(ngModel)]="numOfBestToKeep" 
					[step]="1" [min]="0" [max]="200" 
					[animate]="true" ></p-slider>
					
					<br><br>
					<h5>Modo de seleção de casais</h5>
					
					<p-radioButton label="Roleta" name="groupname" value="Roleta" [(ngModel)]="couplesSelectionMode">Roleta</p-radioButton>
					<br><br>
					<p-radioButton label="Torneio" name="groupname" value="Torneio" [(ngModel)]="couplesSelectionMode">Torneio</p-radioButton>
					<br>
					<br>
					<h6>Indivíduos por torneio: {{numOfIndividualsInTourney}}</h6>
					<p-slider class="slider" [(ngModel)]="numOfIndividualsInTourney" 
					[step]="1" [min]="1" [max]="populationSize" 
					[animate]="true" ></p-slider>
					<br>
					<br>
					<h5>Elitismo</h5>
					<p-checkbox label="Habilitar elistismo" name="groupname" value="elitism" [(ngModel)]="checkBoxSelectedItens"></p-checkbox>
					<br>
					<br>
					<h6>Indivíduos preservados por elitismo: {{numOfElitismInd}}</h6>
					<p-slider class="slider" [(ngModel)]="numOfElitismInd" 
					[step]="2" [min]="0" [max]="populationSize" 
					[animate]="true" ></p-slider>
					<br>
					<br>
					<h5>Modo de mutação</h5>
					
					<p-radioButton label="Individuo" name="mutationMode" value="Individuo" [(ngModel)]="mutationMode">Uma por indivíduo</p-radioButton>
					<br><br>
					<p-radioButton label="Gene" name="mutationMode" value="Gene" [(ngModel)]="mutationMode">Para cada gene</p-radioButton>
					
					<br><br><br>            
				</div>
			</p-accordionTab>
		</p-accordion>
	</div>
</div>
</div>
